.service-card-img-bg {
    background-color: rgb(71, 71, 71);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: white;
    padding: 34px;
    gap: 18px;

}

@media (max-width: 480px) {

    .service-card-img-bg {
        padding: 24px;
        gap: 12px;
        justify-content: space-between;
        min-height: 250px;
    }


}

#first-service {
    background-image: url("../../../../public/assets/images/services/cust-web-bg.png");
}

#second-service {
    background-image: url('../../../../public/assets/images/services/cyber-sec-bg.png');
}

#third-service {
    background-image: url('../../../../public/assets/images/services/ai-bg.png');
}

#fourth-service {
    background-image: url('../../../../public/assets/images/services/software-bg.png');
}

#fivth-service {
    background-image: url('../../../../public/assets/images/services/e-comm.png');
}

#sixth-service {
    background-image: url('../../../../public/assets/images/services/business-design.png');
}

#seventh-service {
    background-image: url('../../../../public/assets/images/services/digital-marketting.png');
}