.service-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 90px;
}

@media (max-width: 456px) {
    .service-icons {
        width: auto;
        height: 65px;
    }
}