.sticky-content {
    background: rgba(255, 179, 86, 0.1);
    padding: 2rem;
    /* border-radius: 1rem; */
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}


@media (max-width: 480px) {

    .sticky-content {
        padding: 1.5rem;
    }
}